.aboutPage{
    margin-top: 125px;
    margin-bottom: 50px;
}

.divLogoImage{
    display: flex;
    justify-content: center;
}

.logoImage{
    width: 300px;
}

.visionTitle , .teamTitle{
    text-align: center;
    margin-top: 50px;
}

.vision{
    display: flex;
    justify-content:center;
    text-align: justify;
    gap: 100px;
}

.textArea{
    width: 290px;
    
}

.team{
    display: flex;
    justify-content: space-around;
}

.teamMemberPicture{
    width: 200px;
}

.zoeyTeam , .bandidoTeam , .cristinaTeam , .belchiorTeam{
    display: flex;
    gap: 20px;
}
