.aboutPage{
    margin-top: 200px;
}

.visionTitle , .teamTitle{
    text-align: center;
}

.vision{
    display: flex;
    justify-content:center;
    text-align: justify;
    gap: 100px;
}

.textArea{
    width: 290px;
    
}

.team{
    display: flex;
    justify-content: space-around;
}
