.profileImg{
    width: 150px;
}

.userProfile{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.userProfileImage{
    width: 150px;
}

.userInfo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.productImg{
width: 150px;
}

.userProducts{
    display: flex;
    gap: 15px;
}

.profileProduct:hover{
    cursor: pointer;
}

.profileProductName{
    text-decoration: none;
    color: #00B4CC;
}

.userRentedProducts{
    display: flex;
    gap: 15px;
    margin-bottom: 100px;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.theButtons{
    border: none;
    border-radius: 8px;
    background-color: rgb(216, 211, 211);
    padding: 7px;
    margin-top: 10px;
}

