.homePage{
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.heroSection{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.mainQuote{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.h1Home{
    text-align: center;
}

.heroPicture{
    width: 650px;
}

 .Btn {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:0px;
    color:#ffffff;
    border-color:rgba(255, 255, 255, 1);
    font-weight:bold;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    text-shadow:inset 0px 1px 0px #1570cd;
    background:linear-gradient(rgba(3, 203, 214, 1), rgba(3, 203, 214, 1));
    cursor: pointer;
  }
  
  .Btn:hover {
    background: linear-gradient(rgb(10, 193, 202), rgb(5, 97, 102));
  }

  .categoryPics{
    width: 300px;
  }

  .secondsection{
      display: flex;
    flex-direction: column;
  }

  .h2title{
    text-align: center;
  }

  .categoriesExamples{
      display: flex;
      justify-content: space-evenly;   
  }

  .eachCategory{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  .thirdSection{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .stepsImage{
      width: 105%;
  }


        