.addProductsDiv{
    display: flex;
    width: 40%;
    padding: 15px;
    margin: 100px 390px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 2px #03cbd6ff;
    border: 0.1em solid rgba(20, 94, 143, 0.521);
    border-radius: 0.5em;
    text-align: center;
}

.addProductForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 50px;
}