.addComment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleComment{
    font-weight: bold;
}

.addTitle {
  width: 250px;
}

.descriptionComment{
    font-weight: bold;
}

.addDescription {
  width: 1000px;
  height: 75px;
}

.buttonComments {
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 35px;
  border-width: 0px;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 1);
  font-weight: bold;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  text-shadow: inset 0px 1px 0px #1570cd;
  background: linear-gradient(rgba(3, 203, 214, 1), rgba(3, 203, 214, 1));
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.buttonComments:hover {
  background: linear-gradient(rgb(10, 193, 202), rgb(5, 97, 102));
}
