.mainNavbar {
  padding: 25px 55px;
  background-color: #03CBD6;
  display: flex;
  justify-content: center;
  gap: 35px;
}

.navLink {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
}

.navLink:hover {
  color: black;
}

