.productContainer {
 display: flex;
 padding: 40px;
 gap: 10px;
 margin: 5px;
 margin-left: 10px;
 justify-content: center;
}

.productImage{
    width: 250px;
    border-radius: 10px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.productDetails{
    display: flex;
    gap: 15px;
}

.productDescription{
    height: 75px;
    width: 1000px;
    background-color: #f5f5f5;
    padding: 10px;
}

.comments{
 gap: 10px;
}

.addComment{
    gap: 60px;
}
